<app-counter></app-counter>
<app-controls></app-controls>
<app-poke-list></app-poke-list>
<app-poke-paginator></app-poke-paginator>
<app-test 
input1="ciao a tutti" 
input2="viva la pausa" 
input3="voglio un tramezzino!!" 
nome-sensato="pippo de pippis"
input4="tornerò!!!!"></app-test>
<app-directive></app-directive>
<!-- <button></button>
<button button-type="superbutton2"></button>
<button></button>
<button button-type="superbutton"></button> -->
<app-lifecycle text-color="#313131" [background-color]="background"></app-lifecycle>
<button (click)="changeAttributes()">sii delicato!!</button>

<router-outlet />
