.triste{
    background-color: blue;
    color: white;
}

.felice{
    background-color: tomato;
}

.monospace{
    font-family: monospace;
}

.editor{
    background-color: crimson;
    width: 500px;
    height: 500px;
}